annotated-types==0.7.0
anyio==4.8.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
bcrypt==4.1.3
blis==1.3.0
brcode==1.2
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.8
cloudinary==1.43.0
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
cryptography==44.0.3
cssselect2==0.8.0
cymem==2.0.11
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
Django==5.1.7
django-channels==0.7.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.4.0
django-filter==24.3
django_csp==3.8
djangorestframework==3.15.2
dnspython==2.6.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
filelock==3.15.4
google-ai-generativelanguage==0.6.15
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.4
googleapis-common-protos==1.65.0
grpcio==1.72.0rc1
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
jiter==0.9.0
langcodes==3.5.0
language_data==1.3.0
lxml==5.4.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
murmurhash==1.0.12
mysqlclient==2.2.4
numpy==2.2.3
oauthlib==3.2.2
openai==1.66.2
openpyxl==3.1.5
oscrypto==1.3.0
packaging==24.2
pandas==2.2.3
pillow==10.4.0
platformdirs==4.2.2
preshed==3.0.9
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pymongo==3.11.4
PyMuPDF==1.25.5
pyparsing==3.2.0
pypdf==5.4.0
python-barcode==0.15.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
setuptools==76.0.0
shellingham==1.5.4
sib-api-v3-sdk==7.6.0
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.5.1
svglib==1.5.1
thinc==8.3.4
tinycss2==1.4.0
tqdm==4.67.1
typer==0.15.2
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uritemplate==4.1.1
uritools==5.0.0
urllib3==2.2.3
virtualenv==20.26.3
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
whitenoise==6.9.0
wrapt==1.17.2
xhtml2pdf==0.2.17
