<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESS Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to ESS Portal</h1>
        <div class="mt-4">
            {% comment %} <a href="{% url 'user_login' %}" class="btn btn-primary btn-lg">Admin</a> {% endcomment %}
            <a href="{% url 'common_user_login' %}" class="btn btn-secondary btn-lg">Login</a>
            {% comment %} <a href="{% url 'md_login' %}" class="btn btn-secondary btn-lg">MD Login</a> {% endcomment %}
        </div>
    </div>
</body>
</html>
